/* Comment */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 32px;
}

section > div > p{
    color: magenta;
}

.redsection > div > p{
    color: red;
}
.redparagraph > div > p{
    color: red;
}
div > p{
    color: green;
}

p{
    color: yellow;
}
/* 
h2{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: red;
    margin-bottom: 0;
} */